


               <%= simple_form_for @message do |f| %>
                  <br>
                  <p>课程标题</p>
                  <p><%= f.text_field :title %></p>

                  <br>
                  <p>课程大纲</p>
                  <p><%= f.text_area :description %></p>
                  <br>
                  <p><%= f.submit "增加" ,class: "btn btn-default" %></p>

                 <% end %>
