


               <%= simple_form_for @message do |f| %>
                  <br>
                  <p>课程标题</p>
                  <h2><%= f.text_field :title %></h2>

                  <br>
                  <p>课程大纲</p>
                  <h2><%= f.text_area :description %></h2>
                  <br>
                  <p><%= f.submit "确定发布" ,class: "btn bg btn-default" %></p>

                 <% end %>
