<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>才华横溢</title>
    <style type="text/css">

       </style>
  </head>
  <body>


        <div id="container">

          <div id="menu">
                  <li><a href="http://caihuahengyi.cn">懂你时间</li></a>
                  <li><a href="http://caihuahengyi.cn">学习大厅</li></a>
                  <li><a href="http://caihuahengyi.cn">帮助中心</li></a>
                  <li><a href="http://caihuahengyi.cn">立即报名</li></a>
         </div>

            <div id="header">

                  <h1>欢迎来到才华横溢职业技能在线大学</h1>
                  <p class="white">帮助普通人获得成功的大学</p>
                 <p class="white">  <%= link_to "进入学习大厅", messages_path, class: "btn btn-default" %></p>

            </div>



            <div id="content">

                  <h3><a href="http://caihuahengyi.cn">欢迎来到全球最大的职业技能大学</a></h3>
                  <p><img src="<%= image_url 'yan-jiang.png' %>" "width=150px; height=150px" alt="">
                    <audio controls="controls">
                      <source src="http://audio.xmcdn.com/group39/M08/D6/47/wKgJn1pqTSKyTdTEAB06n_38gao036.m4a" type="audio/mp3" />
                    </audio>
                  </p>

            </div>

            <div id="classroom">
            <h3><span>主推课程</span></h3>
            <ul class="">
              <li><a href="#">全栈工程师</a></li>
              <li><a href="#">职场化办公</a></li>
              <li><a href="#">内容运营官</a></li>
            </ul>
            <h3><span>前沿科技</span></h3>
            <ul class="">
              <li><a href="#">区块链技术</a></li>
              <li><a href="#">虚拟现实技术</a></li>
              <li><a href="#">人工智能技术</a></li>
            </ul>
            <h3><span>管理课程</span></h3>
            <ul class="">
              <li><a href="#">财务官</a></li>
              <li><a href="#">执行官</a></li>
              <li><a href="#">运营官</a></li>
            </ul>
            </div>

            <div id="footer">
            <h3>才华横溢科技（北京）有限责任公司</h3>
            <p><a href="http://caihuahengyi.cn">帮助普通人获得成功的一所在线职业技能大学</a></p>
            <p>2014-2018</p>
            </div>
        </div>
  </body>
</html>
