/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body{
   background-color: #0fbcf9;
 }


 #menu li{
   list-style-type: none;
   float: left;
   text-align: center;
   border: 2px solid white;
   width: 265px;
 }

 #menu a:hover{
   color: rgb(149, 32, 32);
 }

 #header{
   background: #4bcffa;
   text-align: center;
   border: 2px solid white;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;

 }

h1{
   margin: 0px;
   padding: 0px;
   margin-left: 20%;
   margin-right: 20%;
 }


 p {
   color:black;
   text-align: center;
 }



 #content{
   background: #4bcffa;
   border: 2px solid white;
   margin-top:25px;
   float: left;
   width: 450px;
   margin-left: 3px;
   height: 450px;

 }

 #content h3{
  text-align: center;
 }

 #content p{
   text-align: center;
 }



 #classroom{
   background: #4bcffa;
   border: 2px solid white;
   float: right;
   width: 300px;
   margin-top:25px;
   margin-right: 3px;
   height: 450px;
 }

#classroom li{
  list-style-type: none;
}

#classroom h3 {
  margin-left:20px;
}

 #footer{
   background: #4bcffa;
   text-align: center;
   margin-top:100px;
   border: 2px solid white;
 }

 #footer p {text-align: center;}
 #footer h3 {text-align: center;}
 #footer a {color: rgb(0, 0, 0);}
 #footer a:hover{color: rgb(223, 58, 0);}


#bunton-show{
text-align: center;
margin-top:400px;
float: right;
}
